{{ $md := .Site.Params.body_is_markdown | default false }}

{{ with .Site.Params.contact }}
{{ if .enable }}
<section id="contact" class="wrapper style5">
  <div class="inner">
    <header class="major">
      <h2>{{ .title }}</h2>
      {{ partial "body_text.html" (dict "context" . "md" $md) }}
    </header>
    <form method="post" action="https://formspree.io/f/{{ .formspree_form_id }}">
      <div class="row gtr-uniform">
        <input type="hidden" name="subject" value="{{ .subject }}" />
        <div class="col-6 col-12-xsmall">
          <input type="text" name="name" id="name" value="" placeholder="{{ i18n "name" }}" required />
        </div>
        <div class="col-6 col-12-xsmall">
          <input type="email" name="email" id="email" value="" placeholder="{{ i18n "email" }}" required />
        </div>
        <div class="col-12">
          <textarea name="message" id="message" placeholder="{{ i18n "yourmessage" }}" rows="6" required></textarea>
        </div>
        <div class="col-12">
          <ul class="actions">
            <li><input type="submit" value="{{ i18n "send" }}" class="primary" /></li>
            <li><input type="reset" value="{{ i18n "reset" }}" /></li>
          </ul>
        </div>
      </div>
    </form><br>
    <div class="major">Non ti abbiamo convinto? Prenota una chiacchierata di 30 minuti!<br></div><br>
    <a href="https://calendly.com/powerupstudio/30-min-chat" target="_blank" class="button primary">Quando Ti Possiamo Chiamare?</a>
  </div>
  <div class="AW-Form-746442525"></div>
<script type="text/javascript">(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//forms.aweber.com/form/25/746442525.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "aweber-wjs-sk197jspp"));
</script>
</section>
{{ end }}
{{ end }}
