{{ partial "header.html" . }}
<article id="main">
  <header>
    <img src="/img/power-up-banner-mic.jpg" alt="Header Image" class="header-image">
    <h2>{{ .Title }}</h2>
    {{ with .Params.subtitle }}
    <p>{{ . }}</p>
    {{ end }}
	</header>
	<section class="wrapper style5">
		<div class="inner">
      {{ .Content }}
		</div>
    {{ template "_internal/disqus.html" . }}
	</section>
</article>
<section id="cta" class="wrapper style6" text-align="center">
  <div class="inner">
<table>
  <tr>
    <th style="text-align: center; vertical-align: middle;">Iscriviti al corso Gratuito di Podcast</th>
  </tr>
  <tr>
    <td style="text-align: center; vertical-align: middle;">
  <!-- AWeber Web Form Generator 3.0.1 -->
<form method="post" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl">
<div style="display: none;">
  <input type="hidden" name="meta_web_form_id" value="746442525" />
  <input type="hidden" name="meta_split_id" value="" />
  <input type="hidden" name="listname" value="awlist5892961" />
  <input type="hidden" name="redirect" value="https://powerupstudio.it/pages/corso-thanks/"/>
  <input type="hidden" name="meta_redirect_onlist" value="https://powerupstudio.it" />
  <input type="hidden" name="meta_adtracking" value="Corso_Podcast" />
  <input type="hidden" name="meta_message" value="1" />
  <input type="hidden" name="meta_required" value="email" />
  <input type="hidden" name="meta_tooltip" value="" />
</div>
<div class="col-6 col-12-xsmall">
    <label for="email"></label><input aria-labelledby="email"  class="text" id="awf_field-116025006" type="text" name="email" placeholder="Email" tabindex="200" />
    <label for="nome"></label><input aria-labelledby="nome" class="text" id="awf_field-116025006" type="text" name="name" placeholder="Nome" tabindex="200" />
  </div>
  </td>
</tr>
<tr>
  <td style="text-align: center; vertical-align: middle;">
    <br>
  <div class="af-element buttonContainer">
  <input name="submit" class="primary" type="submit" value="Submit" tabindex="501" />
</div><br>
<div class="af-element privacyPolicy" style="text-align: center">
  <p><a title="Privacy Policy" href="https://www.aweber.com/permission.htm" target="_blank" rel="nofollow">Privacy Policy</a></p>
</div>
  <div style="display: none;"><img src="https://forms.aweber.com/form/displays.htm?id=7CxsLCxMrEys" alt="" /></div>
</td>
<tr>
<td style="text-align: center; vertical-align: middle;">
<h2>Un'occasione fantastica per scoprire come cominciare: l'attrezzatura, le tecniche e molto altro!</h2> 
</td>
</tr>
</form>
<!-- /AWeber Web Form Generator 3.0.1 -->
</table>
</div>
</section>
{{ partial "footer.html" . }}
